@{
    ViewBag.Title = "XemChiTietSP";
    Layout = "~/Views/Shared/LAYOUT_MVC.cshtml";
}

@using Mvc_LapTop.Models;
@model HangHoa

@*<!--Bootstrap 4-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>*@

<h2>Xem Chi Tiết</h2>

<br />
<br />
<div class="container" style="border: solid #273c75">
    <div class="row">

        <div class="col-5">
            <br />
            <img src="~/SanPham/@Model.AnhBia" width="300px" height="350px" alt="Image"/>
            <br />
            <br />
            <a href="@Url.Action("ThemGioHang", "GioHang", new { @ms = Model.MaHang, @strURL = Request.Url.ToString() })">
                <input type="submit" value="MUA NGAY" class="btn btn-primary" />
            </a>       
            <a href="@Url.Action("XemSanPham", "SanPham")" class="btn btn-primary" style="box-shadow: 0px 0px 10px #4cd137; margin-left: 20px">Mua tiếp</a>
            <br />
            <br />
        </div>

        <div class="col-4">
            <br />
            <table style="width: 100%;">
                <tr class="text-justify">
                    <td style="width: 100px">Tên hàng</td>
                    <td style="color: blue">@Model.TenHang"</td>
                </tr>
                <tr class="text-justify">
                    <td>Mô tả</td>
                    <td>@Model.MoTa</td>
                </tr>
                <tr class="text-justify">
                    <td>Giá bán</td>
                    <td style="color: red">@Model.GiaBan</td>
                </tr>
            </table>
        </div>

    </div>
</div>


