@model Mvc_LapTop.Models.NhanVien

@{
    ViewBag.Title = "DETAILS";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<style>
    td {
        height:30px;
    }
</style>
<h2 style="text-align:center">DETAILS NHÂN VIÊN</h2>

<table class="table table-bordered" style="width:500px;margin-left:26%">
    <tr>
        <td>TÊN NHÂN VIÊN
        </td>
        <td>@Html.DisplayFor(model => model.TenNhanVien)</td>
    </tr>
    <tr>
        <td>GIỚI TÍNH
        </td>
        <td>@Html.DisplayFor(model => model.GioiTinh)</td>
    </tr>
    <tr>
        <td>LƯƠNG
        </td>
        <td>@Html.DisplayFor(model => model.Luong)</td>
    </tr>
    <tr>
        <td>CHỨC VỤ
        </td>
        <td>@Html.DisplayFor(model => model.ChucVu)</td>
    </tr>
    <tr>
        <td>ĐỊA CHỈ
        </td>
        <td>@Html.DisplayFor(model => model.DiaChi)</td>
    </tr>
     <tr>
        <td>SỐ ĐIỆN THOẠI
        </td>
        <td>@Html.DisplayFor(model => model.SDT)</td>
    </tr>
     <tr>
        <td>NGÀY SINH
        </td>
        <td>@Html.DisplayFor(model => model.NgaySinh)</td>
    </tr>
</table>
<div style="margin-top:20px">
    <a href="@Url.Action("ShowNhanVien", "NhanVien")" class="btn btn-primary" style="margin-left:45%">TRỞ VỀ</a>
</div>