@model IEnumerable<Mvc_LapTop.Models.NhanVien>
@{
    ViewBag.Title = "SeachSP";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<h2>TẤT CẢ NHÂN VIÊN</h2>
<a href="@Url.Action("ADD", "NhanVien")" class="btn btn-primary"  style="margin-bottom:20px">ADD NHÂN VIÊN</a>
<table class="table table-bordered text-center" style="width: 1300px">
    <tr style="background-color: #a55eea; color: white">
        <th>Tên NV
        </th>
        <th>Giới Tính
        </th>
        <th>Lương
        </th>
        <th>Chức Vụ
        </th>
        <th>Địa Chỉ
        </th>
        <th>SĐT
        </th>
        <th>Ngày Sinh
        </th>
        <th>Chức Năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                <a href="@Url.Action("REMOVE", "NhanVien", new { @manv = item.MaNhanVien })" class="btn btn-primary">REMOVE</a>
                <a href="@Url.Action("DETAILS", "NhanVien", new { @manv = item.MaNhanVien })" class="btn btn-danger">DETAILS</a>
                <a href="@Url.Action("EDIT", "NhanVien", new { @manv = item.MaNhanVien })" class="btn btn-warning">UPDATE</a>
            </td>
        </tr>
    }

</table>
