@{
    ViewBag.Title = "SeachSP";
    Layout = "~/Views/Shared/LAYOUT_MVC.cshtml";
}
<h1>Sản phẩm</h1>
<div class="row">
    @{
        foreach (var item in Model)
        {
        <div class="col-4">

            <img src="@Url.Content("~/SanPham/" + item.AnhBia)" width="100px" height="100px" alt="Image"/>
            @if (item.TenHang.Length > 30)
            {
                <p><strong title="@item.TenHang">@item.TenHang.Substring(0, 30)...</strong></p>
                <a href="@Url.Action("XemChiTietSP", "SanPham", new { @ms = item.MaHang })">xem chi tiet</a>
            }
            else
            {
                <p><strong title="@item.TenHang">@item.TenHang</strong></p>
                <a href="@Url.Action("XemChiTietSP", "SanPham", new { @ms = item.MaHang })">Xem chi tiet</a>
                <div class="clear"></div>
            }
        </div>
        }
    }
</div>
