@model Mvc_LapTop.Models.NhanVien

@{
    ViewBag.Title = "REMOVE";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2 style="text-align:center">REMOVE NHÂN VIÊN</h2>
<table class="table table-bordered" style="width:700px;margin-left:15%">
    <tr>
        <td style="width:150px">MÃ NHÂN VIÊN</td>
        <td>@Html.DisplayFor(model => model.MaNhanVien)</td>
    </tr>
    <tr>
        <td>TÊN NHÂN VIÊN</td>
        <td>@Html.DisplayFor(model => model.TenNhanVien)</td>
    </tr>
    <tr>
        <td>GIỚI TÍNH</td>
        <td>@Html.DisplayFor(model => model.GioiTinh)</td>
    </tr>
    <tr>
        <td>LƯƠNG</td>
        <td>@Html.DisplayFor(model => model.Luong)</td>
    </tr>
    <tr>
        <td>CHỨC VỤ</td>
        <td>@Html.DisplayFor(model => model.ChucVu)</td>
    </tr>
    <tr>
        <td>ĐỊA CHỈ</td>
        <td>@Html.DisplayFor(model => model.DiaChi)</td>
    </tr>
     <tr>
        <td>SỐ ĐIỆN THOẠI</td>
        <td>@Html.DisplayFor(model => model.SDT)</td>
    </tr>
     <tr>
        <td>NGÀY SINH</td>
        <td>@Html.DisplayFor(model => model.NgaySinh)</td>
    </tr>
</table>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn btn-primary" value="Delete" style="margin-left:45%" />
    </p>
}
