@model Mvc_LapTop.Models.NhaCungCap

@{
    ViewBag.Title = "DETAILS";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2 style="text-align:center">DETAILS NHÀ CUNG CẤP</h2>

<table class="table table-bordered" style="width:500px;margin-left:25%">
    <tr>
        <td>MÃ NHÀ CUNG CẤP 
        </td>
        <td>@Html.DisplayFor(model => model.MaNhaCC)</td>
    </tr>
    <tr>
        <td>TÊN NHÀ CUNG CẤP
        </td>
        <td>@Html.DisplayFor(model => model.TenNhaCC)</td>
    </tr>
    <tr>
        <td>ĐỊA CHỈ
        </td>
        <td>@Html.DisplayFor(model => model.DiaChi)</td>
    </tr>
    <tr>
        <td>SỐ ĐIỆN THOẠI
        </td>
        <td style="text-align:justify">@Html.DisplayFor(model => model.DienThoai)</td>
    </tr>
</table>
<div style="margin-top:20px">
    <a href="@Url.Action("ShowNhaCC", "NhaCungCap")" class="btn btn-primary" style="margin-left:45%">TRỞ VỀ</a>
</div>