@model IEnumerable<Mvc_LapTop.Models.NhaCungCap>

@{
    ViewBag.Title = "SeachSP";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>TẤT CẢ NHÀ CUNG CẤP</h2>
<a href="@Url.Action("ADD", "NhaCungCap")" class="btn btn-primary"  style="margin-bottom:20px">ADD NHÀ CUNG CẤP</a>
<table class="table table-bordered text-center">
    <tr style="background-color: #a55eea; color: white">
        <th>MÃ NHÀ CUNG CẤP
        </th>
        <th>TÊN NHÀ CUNG CẤP
        </th>
        <th>ĐỊA CHỈ
        </th>
        <th>ĐIỆN THOẠI
        </th>
        <th>CHỨC NĂNG</th>
    </tr>
    @ViewBag.TB
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNhaCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhaCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                <a href="@Url.Action("REMOVE", "NhaCungCap", new { @mancc = item.MaNhaCC })" class="btn btn-primary">REMOVE</a>
                <a href="@Url.Action("DETAILS", "NhaCungCap", new { @mancc= item.MaNhaCC})" class="btn btn-danger">DETAILS</a>
                <a href="@Url.Action("EDIT", "NhaCungCap", new { @mancc= item.MaNhaCC})" class="btn btn-warning">UPDATE</a>
            </td>
        </tr>
    }

</table>

