@{
    ViewBag.Title = "ADD";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container">
    <h2 style="text-align: center">THÊM NHÀ CUNG CẤP</h2>
    <table class="table">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr>
                <td style="text-align: center">MÃ NHÀ CUNG CẤP</td>
                <td>
                    <input class="form-control" name="mancc" />@ViewData["loi1"]</td>
            </tr>
            <tr>
                <td style="text-align: center">TÊN NHÀ CUNG CẤP</td>
                <td>
                    <input class="form-control" name="tenncc" />@ViewData["loi2"]</td>
            </tr>
            <tr>
                <td style="text-align: center">ĐỊA CHỈ</td>
                <td>
                    <input class="form-control" name="diachi" />@ViewData["loi3"]</td>
            </tr>
            <tr>
                <td style="text-align: center">SỐ ĐIỆN THOẠI</td>
                <td><input class="form-control" name="sdt" />@ViewData["loi4"]</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-primary in" type="submit" value="THÊM NHÀ CUNG CẤP" style="width: 200px; margin-left: 45%" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="@Url.Action("ShowNhaCC", "NhaCungCap")" class="btn btn-primary">TRỞ VỀ</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center; color: #eb3b5a">
                    <p>@ViewBag.TB</p>
                </td>
            </tr>
        }
    </table>
</div>
