@model Mvc_LapTop.Models.HangHoa

@{
    ViewBag.Title = "EDIT";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<style>
    td {
        width: 50px;
    }
</style>
<h2 style="text-align: center">EDIT HÀNG HÓA</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <table class="table" style="width: 600px; margin-left: 20%">
        <tr>
            <td>MÃ HÀNG</td>
            <td>
                @Html.EditorFor(model => model.MaHang)
                @Html.ValidationMessageFor(model => model.MaHang)
            </td>
        </tr>
        <tr>
            <td>TÊN HÀNG</td>
            <td>
                @Html.EditorFor(model => model.TenHang)
                @Html.ValidationMessageFor(model => model.TenHang)
            </td>
        </tr>
        <tr>
            <td>MÃ LOẠI HÀNG</td>
            <td>
                @Html.EditorFor(model => model.MaLoaiHang)
                @Html.ValidationMessageFor(model => model.MaLoaiHang)
            </td>
        </tr>
        <tr>
            <td>SỐ LƯỢNG TỒN</td>
            <td>
                @Html.EditorFor(model => model.SoLuongTon)
                @Html.ValidationMessageFor(model => model.SoLuongTon)
            </td>
        </tr>
        <tr>
            <td>GIÁ BÁN</td>
            <td>
                @Html.EditorFor(model => model.GiaBan)
                @Html.ValidationMessageFor(model => model.GiaBan)
            </td>
        </tr>
        <tr>
            <td>ẢNH BÌA</td>
            <td>
              @Html.EditorFor(model => model.AnhBia)
            </td>
        </tr>
        <tr>
            <td>MÔ TẢ</td>
            <td>
                @Html.EditorFor(model => model.MoTa, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MoTa)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-primary" type="submit" style="margin-left: 200px">SAVE</button>
            </td>
        </tr>

    </table>
}


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
