@model IEnumerable<Mvc_LapTop.Models.HangHoa>

@{
    ViewBag.Title = "ShowHangHoa";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>TẤT CẢ HÀNG HÓA</h2>
@using (Html.BeginForm("SeachSP", "HangHoa", FormMethod.Get))
{
    <p>
      @Html.TextBox("seachstring") <input type="submit" value="Tìm kiếm" style="border:none;background-color:#f39c12;height:30px;color:white;border-radius:5px" />
    </p>
}
<a href="@Url.Action("ADD", "HangHoa")" class="btn btn-primary" style="margin-bottom:20px">ADD HÀNG HÓA</a>
<table class="table table-bordered text-center" style="width: 1050px">
    <tr style="background-color: #a55eea; color: white">
        <th>TÊN HÀNG
        </th>
        <th>MÃ LOẠI HÀNG
        </th>
        <th>SỐ LƯỢNG TỒN
        </th>
        <th>GIÁ BÁN
        </th>
        <th>ẢNH
        </th>
        @*<th style="width:200px">MÔ TẢ
        </th>*@
        <th>CHỨC NĂNG</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                <img src="~/Areas/Admin/SanPham/@item.AnhBia" style="height:70px;width:70px"/>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>*@
            <td>
                <a href="@Url.Action("REMOVE", "HangHoa", new { @mahh = item.MaHang })" class="btn btn-primary">REMOVE</a>
                <a href="@Url.Action("DETAILS", "HangHoa", new { @mahg = item.MaHang })" class="btn btn-danger">DETAILS</a>
                <a href="@Url.Action("EDIT", "HangHoa", new { @mahh = item.MaHang })" class="btn btn-warning">UPDATE</a>
            </td>
        </tr>
    }

</table>
